[submodule "backend"]
	path = backend
	url = https://github.com/AlvesThales/shopping-basket-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/AlvesThales/shopping-basket-frontend.git
